@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("http://fonts.cdnfonts.com/css/clash-display");

body {
	font-family: "Inter", sans-serif;
}

.nav-hover:hover {
	img {
		filter: invert(25%) sepia(49%) saturate(527%) hue-rotate(137deg)
			brightness(53%) contrast(92%);
	}
	color: #1e5156;
	background-color: #e7f6fd;
}

.tab-active {
	filter: brightness(0) invert(1);
}
